
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
  namespace: mern-todo
type: Opaque
stringData:
  MONGO_URI: "mongodb://{{ lookup('community.hashi_vault.hashi_vault', 'secret=secret/data/k8s/mongo field=username') }}:{{ lookup('community.hashi_vault.hashi_vault', 'secret=secret/data/k8s/mongo field=password') }}@mongo-0.mongo:27017/todo-app?authSource=admin"
  JWT_SECRET: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=secret/data/k8s/backend field=JWT_SECRET') }}"
  GMAIL_USERNAME: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=secret/data/k8s/backend field=GMAIL_USERNAME') }}"
  GMAIL_PASSWORD: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=secret/data/k8s/backend field=GMAIL_PASSWORD') }}"

