
apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: mern-todo
type: Opaque
stringData:
  MONGO_INITDB_ROOT_USERNAME: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=secret/data/k8s/mongo field=username') }}"
  MONGO_INITDB_ROOT_PASSWORD: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=secret/data/k8s/mongo field=password') }}"

